.normM1 {
  /* wrapper css */
}

table {
  /*table-layout: fixed;*/
}

.bannerContainer {
  display: none !important;
}

.mainContainer2 {
  top: 0 !important;
  position: relative !important;
  z-index: 1;
}

.skillContainer {
  overflow: unset !important;
}

.leftbar {
  position: fixed !important;
  height: 100% !important;
}

.button-container {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.fix-align img,
.fix-align .batch {
  position: relative;
  top: 6px; /* adjust to match perfectly */
}



.batch {
  height: 16px;
  min-width: 36px;
  margin: 0 4px;
  padding: 0 6px;
  background-color: #fffef0;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-top: 2px solid #CE9D01;
  border-left: 2px solid #CE9D01;
  border-right: 2px solid #626101;
  border-bottom: 2px solid #626101;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
}

.batch:hover {
  background-color: #fdf5d5;
}


.batch:before {
  text-align: center;
}

.up-10:before {
  content: "+10";
}

.up-100:before {
  content: "+100";
}

.down-100:before {
  content: "-100";
}

.down-10:before {
  content: "-10";
}